@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0em;
    font-size: 2.0vh;
}
header{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
header h1{
    color: white;
    text-align: center;
}
main p{
    text-align: justify;
}
.normal{
    background-color: white;
    padding: 2.0em;
}
.imagem{
    background-size: cover;
    background-attachment: fixed;
}
.conteudo{
    max-width: 800px;
    padding-top: 100vh;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.conteudo p{
    color: white;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}
#wankel{
    background-position: center center;
    min-height: 100vh;
    background-image: url(../image/felix-wankel-menor.jpg);
}
#mazda{
    background-position: center center;
    min-height: 100vh;
    background-image: url(../image/mazda.jpg);
}
footer{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
.regra{
    display: block;
    text-align: center;
}